body,
html,
.main-content {
  margin: 0;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#words {
  max-width: 100%;
  min-width: 70%;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#words-pre {
  height: 3em;
  line-height: 1.5em;
  white-space: pre-wrap;
  padding: 10px 1px;
  font-size: 1.25em;
  min-width: 100%;
  letter-spacing: 0.04em;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.incorrect-special {
  color: lightcoral;
}

.container {
  width: 100%;
}

#input-area {
  width: 0px;
  height: 0px;
  border: none;
  padding: 0;
  margin: 0;
}

#input-area:focus {
  border: none;
}

#cursor {
  position: absolute;
  width: 2px;
  height: 1.25em;
  background-color: purple;
  opacity: 1;
}

.run-animation {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
