body,
html,
.main-content {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: "Inconsolata", monospace;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#words {
  min-width: 50%;
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#words-pre {
  height: 4em;
  line-height: 2em;
  white-space: pre-wrap;
  padding: 1em 1px;
  font-size: 1.2em;
  min-width: 100%;
  letter-spacing: 0.01em;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.incorrect-special {
  color: lightcoral;
}

.incorrect-word {
  text-decoration: underline solid coral;
}

.container {
  width: 100%;
}

#input-area {
  width: 0px;
  height: 0px;
  border: none;
  padding: 0;
  margin: 0;
}

#input-area:focus {
  border: none;
}

#cursor {
  position: absolute;
  width: 2px;
  height: 1.22em;
  background-color: purple;
  opacity: 1;
}

.run-animation {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#results {
  display: none;
  margin: 100px;
  width: 50%;
}

.label {
  width: 50%;
  font-size: 2em;
  text-align: right;
  float: left;
}

.stat {
  width: 50%;
  font-size: 2.5em;
  color: indigo;
  float: right;
  padding-left: 50px;
}
.stat-container {
  display: flex;
  align-items: center;
}
.stat-container.main {
  font-size: 2em;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.settings-container {
  display: flex;
  padding-bottom: 2em;
}

#time-select {
  flex-grow: 1;
  cursor: default;
}
#lang-container,
#live-stats {
  float: right;
}
#lang-container {
  text-align-last: center;
}

#lang-select {
  -webkit-appearance: none;

  outline: none;
  border: none;
  background-color: #d6d4d47c;
  padding: 0.25em;
  border-radius: 0.4em;
}

#reset-btn {
  margin-top: 4em;
}

.time-option {
  cursor: pointer;
}

.time-option.active {
  border-bottom: 2px solid gray;
}

.test-option {
  cursor: pointer;
}

.test-option.active {
  border-bottom: 2px solid gray;
}
